
.left_from_admin {
    -fx-background-color: linear-gradient(to bottom right, #365486, #7FC7D9);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

.left_from_employee {
    -fx-background-color: linear-gradient(to top right, #183D3D, #2D9596);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

.right_from {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .4px 0px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #D04848;
}

.text-field {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-font-size: 13px;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-family: Tahoma;
}

.text-field:focused {
    -fx-background-color: #fff;
    -fx-border-color: linear-gradient(to top right, #183D3D, #2D9596);
    -fx-border-width: 1px;
}

.login-btn-admin {
    -fx-background-color: linear-gradient(to bottom right, #365486, #7FC7D9);
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.login-btn-employee {
    -fx-background-color: linear-gradient(to top right, #2D9596, #5C8374);
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.login-btn-admin:hover {
    -fx-background-color: linear-gradient(to bottom right, #365486, #7FC7D9);
}

.login-btn-employee:hover {
    -fx-background-color: linear-gradient(to top right, #2D9596, #2D9596);
}